{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="text-uppercase">ImmoFutura</h1>
        <div class="container">
            {{ form_start(searchForm) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(searchForm.minSurface) }}
                </div>
                <div class="col">
                    {{ form_row(searchForm.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(searchForm.options) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Rechercher</button>
                </div>
            </div>
            {{ form_end(searchForm) }}
        </div>
    </div>
    <div class="container">
        <div class="row flex">
            {% for immo in immos %}
                {% cache 'immo' ~ immo.id immo.updatedAt.timestamp | default(0) %}
                <div class="col-md-3">
                    <div class="card">
                        {% if immo.filename %}
                            <img src="{{ vich_uploader_asset(immo, 'imageFile') | imagine_filter('thumb') }}" alt="{{ immo.filename }}" style="width: 100%; height: auto;" />
                        {% else %}
                            <img src="{{ asset('images/immos/not_found.jpg') | imagine_filter('thumb') }}" alt="{{ immo.filename }}" style="width: 100%; height: auto;" />
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-tittle">
                                <a href="{{ path('immos.show', {id: immo.id, title: immo.sluggedTitle}) }}"
                                   target="_blank"
                                   title="{{ immo.title }}">
                                    {{ immo.title }}
                                </a>
                            </h5>
                            <p class="card-text">
                                {{ immo.city }} {{ immo.postalCode }}
                            </p>
                            <div class="">
                                {{ immo.surface | number_format(0, '', '') }} m2
                            </div>
                            <div class="text-primary">
                                {{ immo.price | number_format(0, '', '') }} XOF
                            </div>
                        </div>
                    </div>
                </div>
                {% endcache %}
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(immos) }}
        </div>
    </div>
{% endblock %}