{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="text-uppercase">ImmoFutura</h1>
    </div>
    <div class="container">
        <div class="row flex">
            {% for immo in immos %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-tittle">
                                <a href="{{ path('immos.show', {id: immo.id, title: immo.sluggedTitle}) }}"
                                   target="_blank"
                                   title="{{ immo.title }}">
                                    {{ immo.title }}
                                </a>
                            </h5>
                            <p class="card-text">
                                {{ immo.city }} {{ immo.postalCode }}
                            </p>
                            <div class="text-primary">
                                {{ immo.price | number_format(0, '', '') }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}