{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Gérer l'option {{ option.name }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer l'option {{ option.name }}</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ option.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ option.name }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" title="Retourner à la liste" href="{{ path('admin.option.index') }}">
            <i class="fa fa-backward"></i>
        </a>

        <a class="btn btn-warning" href="{{ path('admin.option.edit', {'id': option.id}) }}">
            <i class="fa fa-pencil"></i>
        </a>

        {{ include('admin/option/_delete_form.html.twig') }}
    </div>
{% endblock %}
